.signin_container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
}
.signin_container .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}
.signin_container .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #db7e7e, #070606);
  z-index: 1;
  mix-blend-mode: screen;
}
.signin_container .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signin_container .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.signin_container .contentBx .formBx {
  width: 50%;
}
.signin_container .contentBx .formBx h2 {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5rm;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584;
  display: inline-block;
  letter-spacing: 1px;
}
.signin_container .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}
.signin_container .contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}
.signin_container .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

.signin_container .contentBx .formBx .inputBx input[type="submit"] {
  background: #ff4584;
  color: #fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.signin_container .contentBx .formBx .inputBx input[type="submit"]:hover {
  background: #f53677;
}
.signin_container .contentBx .formBx .remember {
  margin-bottom: 10px;
  color: #607d8b;
}
.signin_container .contentBx .formBx .inputBx p {
  color: #607d8b;
}
.signin_container .contentBx .formBx .inputBx p a {
  color: #ff4584;
}
.signin_container .contentBx .formBx h3 {
  color: #607d8b;
  text-align: center;
  margin: 80px 0 10px;
  font-weight: 500;
}
.signin_container .contentBx .formBx .social_media_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin_container .contentBx .formBx li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7edf9;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.signin_container .contentBx .formBx .social_media_icon li:hover {
  background: #d988a3;
}

@media (max-width: 768px) {
  .signin_container .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .signin_container .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .signin_container .contentBx .formBx {
    width: 100%;
    padding: 40px;
    background: rgb(255 255 255 / 0.6);
    margin: 50px;
  }
  .signin_container .contentBx .formBx h3 {
    color: #607d8b;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }
}

/* New error styles */
.signin_container .contentBx .formBx .inputBx .error {
  border-color: red;
  color: red;
}

.signin_container .contentBx .formBx .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Styling for red email label */
.signin_container .contentBx .formBx .inputBx.error span {
  color: red;
}

.signin_container .contentBx .formBx .inputBx .correct {
  border-color: green;
  color: green;
}
